
.cont2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
.list{
    list-style: none;
    display:flex;
    gap: 10px;
    margin-right: 125px;

}


.villa{
    margin-left: 150px;
    font-family: sans-serif;
}

.sch{
    width: 165px;
    height: 20px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.h:hover{
    cursor: pointer;
    color: red;

}
.p:hover{
    cursor: pointer;
    color: red;

}
.p:hover{
    cursor: pointer;
    color: red;

}

.pd:hover{
    cursor: pointer;
    color: red;

}
.c:hover{
    cursor: pointer;
    color: red;

}
.sch:hover{
    cursor: pointer;
    color: red;
}
hr{
    height: 1px;
    background-color: rgb(198, 186, 186);
    margin: 15px ;
    margin-top: -30px;
}

.body{
    width: 90%;
    height: 500px;
    background-color: white;
    box-shadow: 0 4px 8px;
    margin-left: 45px;
    margin-top: 20px;
}
.side{
   
    margin-left: 40px;
}
.side h4{
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.side h1{
    width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.list5{
    display: flex;
    justify-content: end;
    margin-top: -70px;
    margin-right: 150px;
    gap: 40px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.build{
    background-color: orangered;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 5px;
}
.house{
    background-color: black;
    width: 110px;
    height: 25px;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 5px;
}
.penth{
    background-color: black;
    width: 110px;
    height: 25px;
    display: flex;
    justify-content: center;
    color: white;
    border-radius: 5px;
}
.insidebox{
    width: 200px;
    height: 250px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 4px;
    margin-left: 35px;
    margin-top: 10px;
    background-color: rgb(177, 174, 174);
    
}
.box{
    margin-left: 15px;
}
.yes{
    margin-left: 130px;
    margin-top: -200px;
    font-weight: bolder;
}
.center img{
    margin-left: 350px;
    width: 400px;
    height: 280px;
    margin-top: -320px
}
.para{
    width: 400px;
    margin-left: 800px;
    margin-top: -310px;
}